export NODE_ENV=dev
export TOKEN_SECRET="<random_string>"
export TWILIO_PORT="<port_for_twilio_app>"
export POHNY_PORT="<port_for_pohny_app>"

export DEBUG=http,router,error,resource,app
export DEBUG_COLORS=true

export TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

export MESSAGE_HISTORY_SIZE=200
export IMPORT_ENABLED=true

# user seed generated with:
# cat user-seeds-dev.json | tr -d '\n' | tr -d ' ' | pbcopy
# Note: if you're using another way to insert user, simply set POHNY_USERS to '[]'
export POHNY_USERS='[{"phone":"+15005550006","password":"testtest","twilio_app_sid":"AP00000000000000000000000000000000"}]'

# ex: TWILIO_VOICE_FAILOVER="http://twimlets.com/voicemail?Email=somebody@somedomain.com"
export TWILIO_VOICE_FAILOVER=
export TWILIO_MESSAGE_FAILOVER=
